<table class="table-bordered previous">
  <caption><%= "#{pitcher.name} Previous Games"%></caption>
  <thead>
	<tr>
	  <th></th><th>Date</th><th>Time</th><th>VS</th><th>IP</th><th>BB</th><th>H</th><th>R</th>
	  <th>Temp</th><th>Dew</th><th>Wind</th><th>Direct</th><th>D2</th><th>Baro</th><th>Humi</th><th>Park</th>
	  <th width="50">Total count</th>
	  <th width="50">Total runs1 average</th>
	  <th width="50">Total runs2 average</th>
	  <th width="50">Total hits average</th>
	  <th width="50">Home runs average</th>
	  <th width="50">+/- 1</th>
	  <th width="50">Total Count of +/- 1</th>
	  <th></th>
	  <th width="50">PARK TOTAL 1</th>
	  <th width="50">PARK TOTAL 2</th>
	  <th width="50">PARK TOTAL COUNT</th>
	  <th width="50">PARK ab-1</th>
	  <th width="50">PARK ab-1 COUNT</th>
	  <th>OPPONENT</th>
	  <th>IP</th>
	  <th>BB</th>
	  <th>H</th>
	  <th>R</th>
	</tr>
  </thead>
  <tbody>
	<% prev_pitchers = pitcher.prev_pitchers %>
	<% if flag === 1 %>
		<%= render partial: "game/new/part_previous_pitcher_table", locals: { prev_pitchers: prev_pitchers.limit(15), start: 0 } %>
		<%= render partial: "game/new/part_previous_pitcher_table", locals: { prev_pitchers: prev_pitchers.limit(15).offset(15), start: 15 } %>
	<% else %>
		<%= render partial: "game/new/part_previous_pitcher_table", locals: { prev_pitchers: prev_pitchers.limit(20), start: 0 } %>
		<%= render partial: "game/new/part_previous_pitcher_table", locals: { prev_pitchers: prev_pitchers.limit(20).offset(20), start: 20 } %>
		<%= render partial: "game/new/part_previous_pitcher_table", locals: { prev_pitchers: prev_pitchers.limit(20).offset(40), start: 40 } %>
	<% end %>
  </tbody>
</table>
