<% content_for :title, @head %>
<div class="panel panel-primary text-center">
  <div class="panel-heading" style="display: flex;justify-content: center;">
    <div>
      <h1><%= @away_team.name + " @ " + @home_team.name %></h1>
      <h2><%= "Odds Opener: #{@game.away_money_line} @ #{@game.home_money_line}" %></h2>
      <h2 style="color: red"><%= "Totals Opener: #{@game.away_total} @ #{@game.home_total}" %></h2>
      <h2><%= "Odds Closer: #{@game.away_money_line_closer} @ #{@game.home_money_line_closer}" %></h2>
      <h2 style="color: red"><%= "Totals Closer: #{@game.away_total_closer} @ #{@game.home_total_closer}" %></h2>
      <h3><%= "Gametime: #{DateTime.parse(@game.game_date).strftime("%I:%M%p")} Local Time" %></h3>
      <h3><%= "Ump: #{@game.ump}" %></h3>
      <% if @game.roof != '' %>
        <h3><%= "Roof: #{@game.roof}" %></h3>
      <% end %>
      <% unless @game_stats.empty? %>
        <%= render partial: "game/new/game_stats", locals: { game_stats: @game_stats, home_team: @home_team.name, away_team: @away_team.name} %>
      <% end %>
    </div>
    <div class="umpires-wrapper">
      <table class="table-bordered umpires">
        <tr>
          <td><%= @game.ump %></td>
          <td>Count</td>
          <td>BB</td>
          <td>SO</td>
          <td>SO/BB</td>
        </tr>
        <% @umpires.each do |umpire| %>
          <tr>
            <td><%= umpire.year %></td>
            <td><%= umpire.count %></td>
            <td><%= umpire.bb %></td>
            <td><%= umpire.so %></td>
            <td><%= umpire.sw %></td>
          </tr>
        <% end %>
      </table>
    </div>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
			<li class="list-group-item"><%= link_to(@date + ' Matchups', { controller: 'index', action: 'game', id: @game_day.id }) %></li>
		</ul>

    <div>
      <%= image_tag(@image_url, :width => '600') %>
      <h2><%= @home_team.stadium + " Zipcode: " + (@home_team.zipcode === 'M5V 1J1' ? '14203' : @home_team.zipcode) %></h2>
    </div>

    <%= render partial: "game/new/lr_table", locals: { min: 2, max: 6, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 2, max: 6, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>

    <%= render partial: "game/new/lr_table", locals: { min: 4, max: 9, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 4, max: 9, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>

    <%= render partial: "game/new/lr_table", locals: { min: 7, max: 12, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 7, max: 12, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>

    <%= render partial: "game/new/lr_table", locals: { min: 10, max: 15, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 10, max: 15, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>

    <%= render partial: "game/new/lr_table", locals: { min: 13, max: 20, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 13, max: 20, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>

    <%= render partial: "game/new/lr_table", locals: { min: 18, max: 0, wind_dirs: @wind_dirs, type: 'PITCHERS', team: @home_team } %>
    <%= render partial: "game/new/lr_table", locals: { min: 18, max: 0, wind_dirs: @wind_dirs, type: 'BATTERS', team: @home_team } %>
	</div>
  <ul class="list-group">
    <li class="list-group-item" style="text-align: center;"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
  </ul>
</div>
