<% content_for :title, @head %>
<div class="panel panel-primary text-center">
  <div class="panel-heading" style="display: flex;justify-content: center;">
    <div>
      <h1><%= @away_team.name + " @ " + @home_team.name %></h1>
      <h2><%= "Odds Opener: #{@game.away_money_line} @ #{@game.home_money_line}" %></h2>
      <h2 style="color: red"><%= "Totals Opener: #{@game.away_total} @ #{@game.home_total}" %></h2>
      <h2><%= "Odds Closer: #{@game.away_money_line_closer} @ #{@game.home_money_line_closer}" %></h2>
      <h2 style="color: red"><%= "Totals Closer: #{@game.away_total_closer} @ #{@game.home_total_closer}" %></h2>
      <h3><%= "Gametime: #{DateTime.parse(@game.game_date).strftime("%I:%M%p")} Local Time" %></h3>
      <h3><%= "Ump: #{@game.ump}" %></h3>
      <% if game.roof %>
        <h3><%= "Roof: #{@game.roof}" %></h3>
      <% end %>
      <% unless @game_stats.empty? %>
        <%= render partial: "game/new/game_stats", locals: { game_stats: @game_stats, home_team: @home_team.name, away_team: @away_team.name} %>
      <% end %>
    </div>
    <div class="umpires-wrapper">
      <table class="table-bordered umpires">
        <tr>
          <td><%= @game.ump %></td>
          <td>Count</td>
          <td>BB</td>
          <td>SO</td>
          <td>SO/BB</td>
        </tr>
        <% @umpires.each do |umpire| %>
          <tr>
            <td><%= umpire.year %></td>
            <td><%= umpire.count %></td>
            <td><%= umpire.bb %></td>
            <td><%= umpire.so %></td>
            <td><%= umpire.sw %></td>
          </tr>
        <% end %>
      </table>
    </div>
	</div>
	<div class="panel-body">`
		<ul class="list-group">
			<li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
			<li class="list-group-item"><%= link_to(@date + ' Matchups', { controller: 'index', action: 'game', id: @game_day.id }) %></li>
		</ul>
	</div>

  <% unless @away_starting_lancer.empty? %>
    <%= render partial: "game/new/previous_pitcher_table", locals: { pitcher: @away_starting_lancer.first, prev_pitchers: @away_starting_lancer_previous, flag: 0 } %>
  <% end %>
  <% unless @home_starting_lancer.empty? %>
    <%= render partial: "game/new/previous_pitcher_table", locals: { pitcher: @home_starting_lancer.first, prev_pitchers: @home_starting_lancer_previous, flag: 0 } %>
  <% end %>
  <ul class="list-group">
    <li class="list-group-item" style="text-align: center;"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
  </ul>
</div>
