<% content_for :title, "MLB Calculator" %>
<style>
    .calcTable {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        white-space: nowrap;
    }
    td input {
        width: 90%;
    }
    input[type="submit"] {
        background: red;
        border-color: red;
        color: white;
    } 
</style>
<%= form_tag("/calc/input", method: "post") do %>

<%= select_tag :type, options_for_select(@type_dropdown, @type) %>
<%= select_tag :index, options_for_select(@index_dropdown, @index) %>

<table class="calcTable table-bordered">
    <tbody>
        <tr>
            <td colspan="5">STADIUM</td>
            <td colspan="6">=</td>
            <td colspan="5">
                <% if @post['authenticity_token'] %>
                <%= select_tag :form_stadium, options_for_select(@team_dropdown, @post['form_stadium']) %>
                <% else %>
                <%= select_tag :form_stadium, options_for_select(@team_dropdown) %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td colspan="16">VARIANCE</td>
        </tr>
        <tr>
            <td colspan="4">4</td>
            <td colspan="4">1-2</td>
            <td colspan="4">3</td>
            <td colspan="4">4</td>
        </tr>
        <tr>
            <td colspan="4">Temp</td>
            <td colspan="4">Dew</td>
            <td colspan="4">Humid</td>
            <td colspan="4">Baro</td>
        </tr>
        <tr>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:temp_one, @post['temp_one']) %>
                <% else %>
                <%= text_field_tag(:temp_one) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:temp_two, @post['temp_two']) %>
                <% else %>
                <%= text_field_tag(:temp_two) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:temp_thr, @post['temp_thr']) %>
                <% else %>
                <%= text_field_tag(:temp_thr) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:temp_four, @post['temp_four']) %>
                <% else %>
                <%= text_field_tag(:temp_four) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:dew_one, @post['dew_one']) %>
                <% else %>
                <%= text_field_tag(:dew_one) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:dew_two, @post['dew_two']) %>
                <% else %>
                <%= text_field_tag(:dew_two) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:dew_thr, @post['dew_thr']) %>
                <% else %>
                <%= text_field_tag(:dew_thr) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:dew_four, @post['dew_four']) %>
                <% else %>
                <%= text_field_tag(:dew_four) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:humid_one, @post['humid_one']) %>
                <% else %>
                <%= text_field_tag(:humid_one) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:humid_two, @post['humid_two']) %>
                <% else %>
                <%= text_field_tag(:humid_two) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:humid_thr, @post['humid_thr']) %>
                <% else %>
                <%= text_field_tag(:humid_thr) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:humid_four, @post['humid_four']) %>
                <% else %>
                <%= text_field_tag(:humid_four) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:baro_one, @post['baro_one']) %>
                <% else %>
                <%= text_field_tag(:baro_one) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:baro_two, @post['baro_two']) %>
                <% else %>
                <%= text_field_tag(:baro_two) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:baro_thr, @post['baro_thr']) %>
                <% else %>
                <%= text_field_tag(:baro_thr) %>
                <% end %>
            </td>
            <td>
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:baro_four, @post['baro_four']) %>
                <% else %>
                <%= text_field_tag(:baro_four) %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>1st hour</td>
            <td>2nd hour</td>
            <td>3rd hour</td>
            <td>4th hour</td>
            <td>1st hour</td>
            <td>2nd hour</td>
            <td>3rd hour</td>
            <td>4th hour</td>
            <td>1st hour</td>
            <td>2nd hour</td>
            <td>3rd hour</td>
            <td>4th hour</td>
            <td>1st hour</td>
            <td>2nd hour</td>
            <td>3rd hour</td>
            <td>4th hour</td>
        </tr>
        <tr>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_one_dir,  @post['wind_one_dir'], :placeholder => 'Wind Direction...') %>
                <% else %>
                <%= text_field_tag(:wind_one_dir, nil, :placeholder => 'Wind Direction...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_one_speed,  @post['wind_one_speed'], :placeholder => 'Wind Speed...') %>
                <% else %>
                <%= text_field_tag(:wind_one_speed, nil, :placeholder => 'Wind Speed...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_two_dir,  @post['wind_two_dir'], :placeholder => 'Wind Direction...') %>
                <% else %>
                <%= text_field_tag(:wind_two_dir, nil, :placeholder => 'Wind Direction...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_two_speed,  @post['wind_two_speed'], :placeholder => 'Wind Speed...') %>
                <% else %>
                <%= text_field_tag(:wind_two_speed, nil, :placeholder => 'Wind Speed...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_thr_dir,  @post['wind_thr_dir'], :placeholder => 'Wind Direction...') %>
                <% else %>
                <%= text_field_tag(:wind_thr_dir, nil, :placeholder => 'Wind Direction...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_thr_speed,  @post['wind_thr_speed'], :placeholder => 'Wind Speed...') %>
                <% else %>
                <%= text_field_tag(:wind_thr_speed, nil, :placeholder => 'Wind Speed...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_four_dir,  @post['wind_four_dir'], :placeholder => 'Wind Direction...') %>
                <% else %>
                <%= text_field_tag(:wind_four_dir, nil, :placeholder => 'Wind Direction...') %>
                <% end %>
            </td>
            <td colspan="2">
                <% if @post['authenticity_token'] %>
                <%= text_field_tag(:wind_four_speed,  @post['wind_four_speed'], :placeholder => 'Wind Speed...') %>
                <% else %>
                <%= text_field_tag(:wind_four_speed, nil, :placeholder => 'Wind Speed...') %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td colspan="16"><%= submit_tag("Run Data") %></td>
        </tr>
    </tbody>
</table>
<% end %>

<% if @post['authenticity_token'] %>
    <div>
        <%
            if @post['wind_two_speed'] == ""
                @post['wind_two_speed'] = @post['wind_one_speed']
            end
            if @post['wind_thr_speed'] == ""
                @post['wind_thr_speed'] = @post['wind_two_speed']
            end
            if @post['wind_four_speed'] == ""
                @post['wind_four_speed'] = @post['wind_thr_speed']
            end
            if @post['temp_one'] == '' && @post['temp_two'] == '' && @post['temp_thr'] == '' && @post['temp_four'] == ''
                @post['temp_one']   = @stadium[0][:temp]
                @post['dew_one']    = @stadium[0][:dew]
                @post['humid_one']  = @stadium[0][:humidity]
                @post['baro_one']   = @stadium[0][:pressure]

                @post['temp_two']   = @stadium[1][:temp]
                @post['dew_two']    = @stadium[1][:dew]
                @post['humid_two']  = @stadium[1][:humidity]
                @post['baro_two']   = @stadium[1][:pressure]

                @post['temp_thr']   = @stadium[2][:temp]
                @post['dew_thr']    = @stadium[2][:dew]
                @post['humid_thr']  = @stadium[2][:humidity]
                @post['baro_thr']   = @stadium[2][:pressure]

                @post['temp_four']   = @stadium[3][:temp]
                @post['dew_four']    = @stadium[3][:dew]
                @post['humid_four']  = @stadium[3][:humidity]
                @post['baro_four']   = @stadium[3][:pressure]
            end
            unless @post['wind_one_speed'] != "" && @post['wind_one_dir'] != "" && @post['wind_two_speed'] != "" &&  @post['wind_two_dir'] != "" && @post['wind_thr_speed'] != "" && @post['wind_thr_dir'] != "" && @post['wind_four_speed'] != "" && @post['wind_four_dir'] != ""
                @post['wind_one_speed'] = @stadium[0][:wind_speed]
                @post['wind_one_dir']   = @stadium[0][:wind_dir]
                @post['wind_two_speed'] =  @stadium[1][:wind_speed]
                @post['wind_two_dir'] = @stadium[1][:wind_dir]
                @post['wind_thr_speed'] = @stadium[2][:wind_speed]
                @post['wind_thr_dir'] = @stadium[2][:wind_dir]
                @post['wind_four_speed'] = @stadium[3][:wind_speed]
                @post['wind_four_dir'] = @stadium[3][:wind_dir]
            end

            weathers = []
            weather = { 'temp_num' =>@post['temp_one'].to_f, 'dew_num'=> @post['dew_one'].to_f, 'humid_num'=> @post['humid_one'].to_f, 'pressure_num'=> @post['baro_one'].to_f, 'temp'=> @post['temp_one'].to_f, 'dp'=> @post['dew_one'].to_f, 'hum'=> @post['humid_one'].to_f, 'pressure'=> @post['baro_one'].to_f, 'wind_speed'=> @post['wind_one_speed'].to_f, 'wind_dir'=> @post['wind_one_dir'] }
            weathers << weather
            weather = { 'temp_num'=> @post['temp_two'].to_f, 'dew_num'=> @post['dew_two'].to_f, 'humid_num'=> @post['humid_two'].to_f, 'pressure_num'=> @post['baro_two'].to_f, 'temp'=> @post['temp_two'].to_f, 'dp'=> @post['dew_two'].to_f, 'hum'=> @post['humid_two'].to_f, 'pressure'=> @post['baro_two'].to_f, 'wind_speed'=> @post['wind_two_speed'].to_f, 'wind_dir'=> @post['wind_two_dir'] }
            weathers << weather
            weather = { 'temp_num'=> @post['temp_thr'].to_f, 'dew_num'=> @post['dew_thr'].to_f, 'humid_num'=> @post['humid_thr'].to_f, 'pressure_num'=> @post['baro_thr'].to_f, 'temp'=> @post['temp_thr'].to_f, 'dp'=> @post['dew_thr'].to_f, 'hum'=> @post['humid_thr'].to_f, 'pressure'=> @post['baro_thr'].to_f, 'wind_speed'=> @post['wind_thr_speed'].to_f, 'wind_dir'=> @post['wind_thr_dir'] }
            weathers << weather
            weather = { 'temp_num'=> @post['temp_four'].to_f, 'dew_num'=> @post['dew_four'].to_f, 'humid_num'=> @post['humid_four'].to_f, 'pressure_num'=> @post['baro_four'].to_f, 'temp'=> @post['temp_four'].to_f, 'dp'=> @post['dew_four'].to_f, 'hum'=> @post['humid_four'].to_f, 'pressure'=> @post['baro_four'].to_f, 'wind_speed'=> @post['wind_four_speed'].to_f, 'wind_dir'=> @post['wind_four_dir'] }
            weathers << weather
            name = @post['form_stadium']
        %>
        <%= render partial: "calc/new/weather", locals: { caption: "Weather", weathers: weathers, name: name, stadium: @home_team.stadium } %>
        <%= render partial: "calc/new/prev", locals: { caption: "Weather", weathers: weathers, name: name, stadium: @home_team.stadium } %>
        <div class="image">
            <%= image_tag(@image_url, :width => '600') %>
            <h2><%= @home_team.stadium + " Zipcode: " + @home_team.zipcode %></h2>
        </div>
        <%= render partial: "calc/new/wind", locals: { caption: "Wind", weathers: weathers, name: name, additional: 0 } %>
    </div>
<% end %>
