<table class="table-bordered game-index">
	<thead>
		<tr>
			<th scope="col" colspan="5"><%= @head %></th>
			<th scope="col" colspan="9">Pitchers</th>
			<th scope="col" class="border"></th>
			<th scope="col" colspan="7">Weather</th>
		</tr>
		<tr>
			<th colspan="2">Away @ Home</th>
			<th>Game Stats</th>
			<th>Weather</th>
			<th>Previous Games</th>
			<%= render "starter_header" %>
			<th class="border"></th>
			<%= render "weather_header" %>
		</tr>
	</thead>
	<tbody>
		<% @games.each do |game| %>
		<tr>
			<td rowspan="2"><%= "#{(DateTime.parse(game.game_date) - game.home_team.timezone.hours).strftime("%I:%M%p")}" %></td>
			<td rowspan="2"><%= link_to game_link(game), { controller: "game", action: "new", id: game.id } %></td>
			<td rowspan="2"><%= link_to "Stats", { controller: "game", action: "stats", id: game.id } %></td>
			<td rowspan="2"><%= link_to "Weather", { controller: "game", action: "weather", id: game.id } %></td>
			<td rowspan="2"><%= link_to "Previous Games", { controller: "game", action: "previous", id: game.id } %></td>
			<% pitcher = game.away_pitcher %>
			<% if pitcher %>
			<%= render partial: "starter", locals: { pitcher: pitcher } %>
			<% else %>
			<td>TBD</td>
			<%= render partial: "not_found", locals: {colspan: 8, rowspan: 1 } %>
			<% end %>
			<td rowspan="2" class="border"></td>
			<% weather = game.weathers.where(hour: 1, station: "Forecast").order("updated_at DESC").first %>
			<% if weather %>
			<%= render partial: "weather", locals: { weather: weather } %>
			<% else %>
			<%= render partial: "not_found", locals: {colspan: 7, rowspan: 2 } %>
			<% end %>
		</tr>
		<tr>
			<% pitcher = game.home_pitcher %>
			<% if pitcher %>
			<%= render partial: "starter", locals: { pitcher: pitcher } %>
			<% else %>
			<td>TBD</td>
			<%= render partial: "not_found", locals: {colspan: 8, rowspan: 1 } %>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>