<table class="table-bordered game-index">
	<thead>
		<tr style="background: gray;">
			<th scope="col"></th>
			<th scope="col" colspan="4"><%= @head %></th>
			<th scope="col">Pitchers</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col" colspan="2">PITCHERS</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col">70 AB's or<br/>more</th>
			<th scope="col">70 AB's or<br/>more</th>
			<th scope="col">70 AB's or<br/>more</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col" colspan="3">Qualified Players Only</th>
			<th scope="col" colspan="2">IN PARK</th>
			<th scope="col" style="background: lightgray;">Hour 1</th>
			<th scope="col" style="background: lightgray;">Hour 2</th>
			<th scope="col" style="background: lightgray;">Hour 3</th>
			<th scope="col"></th>
		</tr>
		<tr style="background: lightgray;">
			<th>TIME</th>
			<th>Away @ Home</th>
			<th>Game Stats</th>
			<th>Weather</th>
			<th>Previous Games</th>
			<%= render "starter_header" %>
			<th colspan="2">IN PARK with <br/>9-16 MPH</th>
			<th colspan="3">Averages in park going <br/> this direction</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%
			@games.each do |game|
				@forecasts = game.weathers.where(station: "Forecast").order("updated_at DESC").limit(3)
				first_speed, first_dir = split_wind(@forecasts.last.wind)
				second_speed, second_dir = split_wind(@forecasts.second.wind)
				third_speed, third_dir = split_wind(@forecasts.first.wind)
				winds = wind_data_match(game.home_team.name, @forecasts.last.wind, @forecasts.second.wind, @forecasts.first.wind)
		%>
		<tr>
			<td rowspan="4"><%= "#{(DateTime.parse(game.game_date) - game.home_team.timezone.hours).strftime("%I:%M%p")}" %></td>
			<td rowspan="4" style="background: lightgray;"><%= link_to game_link(game), { controller: "game", action: "new", id: game.id, forecast: 0, option: 0 } %></td>
			<td rowspan="4" style="background: lightgray;"><%= link_to "Stats", { controller: "game", action: "stats", id: game.id } %></td>
			<td rowspan="4" style="background: lightgray;"><%= link_to "Weather", { controller: "game", action: "weather", id: game.id, forecast: 0, option: 0} %></td>
			<td rowspan="4" style="background: lightgray;"><%= link_to "Previous Games", { controller: "game", action: "previous", id: game.id } %></td>
			<% pitcher = game.away_pitcher %>
			<% if pitcher %>
			<%= render partial: "starter", locals: { pitcher: pitcher } %>
			<% else %>
			<td rowspan="2">TBD</td>
			<%= render partial: "not_found", locals: {colspan: 32} %>
			<% end %>
			<td><%= winds[0][1] %></td>
			<td><%= winds[0][2] %></td>
			<td><%= first_dir %></td>
			<td><%= second_dir %></td>
			<td><%= third_dir %></td>
			<td>Direction</td>
		</tr>
		<tr>
			<td colspan="2"><%= winds[0][3] %></td>
			<td><%= first_speed %></td>
			<td><%= second_speed %></td>
			<td><%= third_speed %></td>
			<td>Wind Speed</td>
		</tr>
		<tr>
			<% pitcher = game.home_pitcher %>
			<% if pitcher %>
			<%= render partial: "starter", locals: { pitcher: pitcher } %>
			<% else %>
			<td>TBD</td>
			<%= render partial: "not_found", locals: {colspan: 32} %>
			<% end %>
			<td><%= winds[1][1] %></td>
			<td><%= winds[1][2] %></td>
			<td><%= winds.size > 2 ? winds[3][1] : 0 %></td>
			<td><%= winds.size > 2 ? winds[4][1] : 0 %></td>
			<td><%= winds.size > 2 ? winds[5][1] : 0 %></td>
			<td>Averages</td>
		</tr>
		<tr>
			<td colspan="2"><%= winds[1][3] %></td>
			<td><%= winds.size > 2 ? winds[3][3] : 0 %></td>
			<td><%= winds.size > 2 ? winds[4][3] : 0 %></td>
			<td><%= winds.size > 2 ? winds[5][3] : 0 %></td>
			<td>Count</td>
		</tr>
		<% end %>
	</tbody>
</table>