<td rowspan="2" style="background: darkorange;">
	<% if pitcher.player.name.nil? or pitcher.throwhand.nil? %>
		<%= "()" %>
	<% else %>
		<%= pitcher.player.name + "(" + pitcher.throwhand + ")" %>
	<% end %>
</td>
<td rowspan="2"><%= pitcher.player.age %></td>
<td rowspan="2"><%= pitcher_information.ip_two %></td>
<td rowspan="2"><%= pitcher_information.ip_three %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.gb_two %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.gb_three %></td>
<td rowspan="2"><%= pitcher_information.woba_two %></td>
<td rowspan="2"><%= pitcher_information.woba_three %></td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.fip_two %></td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.fip_three %></td>
<td rowspan="2"><%= pitcher_information.tld_two %></th>
<td rowspan="2"><%= pitcher_information.tld_three %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.game_one_blue %></td>
<td rowspan="2" style="background: rgb(0,124,119);"><%= pitcher_information.game_one_blue_opp %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.game_two_blue %></td>
<td rowspan="2" style="background: rgb(0,124,119);"><%= pitcher_information.game_two_blue_opp %></td>
<td rowspan="2" style="background: hotpink;"><%= pitcher_information.game_six_blue %></td>
<td rowspan="2" style="background: hotpink;"><%= pitcher_information.game_six_blue_opp %></td>
<td rowspan="2"><%= pitcher_information.game_three_blue %></td>
<td rowspan="2" style="background: gray;"><%= pitcher_information.game_three_blue_opp %></td>
<td rowspan="2"><%= pitcher_information.game_four_blue %></td>
<td rowspan="2" style="background: gray;"><%= pitcher_information.game_four_blue_opp %></td>
<td rowspan="2"><%= pitcher_information.game_five_blue %></td>
<td rowspan="2" style="background: gray;"><%= pitcher_information.game_five_blue_opp %></td>
<td rowspan="2" style="background: hotpink;"><%= pitcher_information.game_seven_blue %></td>
<td rowspan="2" style="background: hotpink;"><%= pitcher_information.game_seven_blue_opp %></td>
<td rowspan="2" style="background: darkorange;">
	<% if pitcher.player.name.nil? or pitcher.throwhand.nil? %>
		<%= "()" %>
	<% else %>
		<%= pitcher.player.name + "(" + pitcher.throwhand + ")" %>
	<% end %>
</td>
<td rowspan="2" style="background: rgb(54,155,148)"><%= pitcher_information.sb_two %></td>
<td rowspan="2" style="background: rgb(54,155,148)"><%= pitcher_information.ab_two %></td>
<td rowspan="2" style="background: rgb(54,155,148)"><%= pitcher_information.sb_three %></td>
<td rowspan="2" style="background: rgb(54,155,148)"><%= pitcher_information.ab_three %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_one %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_one_opp %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_two %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_two_opp %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_three %></td>
<td rowspan="2"><%= pitcher_information.game_wrc_qu_three_opp %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.so_ab_two %>%</td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.so_ab_two_opp %></td>
<td rowspan="2" style="background: rgb(54,155,148);"><%= pitcher_information.so_ab_three %>%</td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.so_ab_three_opp %></td>
<td rowspan="2" style="background: lawngreen;"><%= pitcher_information.ab_bb_two %>%</td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.ab_bb_two_opp %></td>
<td rowspan="2" style="background: lawngreen;"><%= pitcher_information.ab_bb_three %>%</td>
<td rowspan="2" style="background: rgb(0, 233, 208);"><%= pitcher_information.ab_bb_three_opp %></td>
<td rowspan="2"><%= pitcher_information.tld_hitter_one %></td>
<td rowspan="2"><%= pitcher_information.tld_hitter_two %></td>
<td rowspan="2"><%= pitcher_information.tld_hitter_three %></td>
