<% seasons = Season.greater_than(2017) %>
<% stats = pitcher.view_stats(seasons) %>
<% lefty, righty = pitcher.opposing_batters_handedness %>
<td><%= pitcher.player.name + "(" + pitcher.throwhand + ")" %></td>
<td><%= pitcher.player.age %></td>
<th><%= mixed_statistic(stats[1].first.gb, stats[1].second.gb, lefty, righty) %></th>
<th><%= mixed_statistic(stats[0].first.gb, stats[0].second.gb, lefty, righty) %></th>
<th><%= mixed_statistic(stats[1].first.woba, stats[1].second.woba, lefty, righty).to_i %></th>
<th><%= mixed_statistic(stats[0].first.woba, stats[0].second.woba, lefty, righty).to_i %></th>
<% left_stat = stats[1].where(handedness: "L").first %>
<th><%= left_stat.fip %></th>
<% left_stat = stats[0].where(handedness: "L").first %>
<th><%= left_stat.fip %></th>
<th><%= mixed_statistic(stats[1].first.tld, stats[1].second.tld, lefty, righty) %></th>
<th><%= mixed_statistic(stats[0].first.tld, stats[0].second.tld, lefty, righty) %></th>
<%
	prev_pitchers = pitcher.prev_pitchers
	game_one_ip = []
	game_one_bb = 0
	game_one_h = 0
	game_one_opp_ip = []
	game_one_opp_bb = 0
	game_one_opp_h = 0
	game_two_ip = []
	game_two_bb = 0
	game_two_h = 0
	game_two_opp_ip = []
	game_two_opp_bb = 0
	game_two_opp_h = 0
	game_three_ip = []
	game_three_bb = 0
	game_three_h = 0
	game_three_opp_ip = []
	game_three_opp_bb = 0
	game_three_opp_h = 0
	game_four_ip = []
	game_four_bb = 0
	game_four_h = 0
	game_four_opp_ip = []
	game_four_opp_bb = 0
	game_four_opp_h = 0
	game_five_ip = []
	game_five_bb = 0
	game_five_h = 0
	game_five_opp_ip = []
	game_five_opp_bb = 0
	game_five_opp_h = 0
	prev_pitchers.each_with_index do |prev_pitcher, index|
		opposite = prev_pitcher.game.lancers.find_by(starter: true, team_id: prev_pitcher.opp_team.id)
		if index < 15
			game_one_ip.push(prev_pitcher.ip)
			game_one_bb = game_one_bb + prev_pitcher.bb
			game_one_h = game_one_h + prev_pitcher.h
			if opposite
				game_one_opp_ip.push(opposite.ip)
				game_one_opp_bb = game_one_opp_bb + opposite.bb.to_i
				game_one_opp_h = game_one_opp_h + opposite.h.to_i
			end
		elsif index < 30
			game_two_ip.push(prev_pitcher.ip)
			game_two_bb = game_two_bb + prev_pitcher.bb
			game_two_h = game_two_h + prev_pitcher.h
			if opposite
				game_two_opp_ip.push(opposite.ip)
				game_two_opp_bb = game_two_opp_bb + opposite.bb.to_i
				game_two_opp_h = game_two_opp_h + opposite.h.to_i
			end
		end
		if index < 20
			game_three_ip.push(prev_pitcher.ip)
			game_three_bb = game_three_bb + prev_pitcher.bb
			game_three_h = game_three_h + prev_pitcher.h
			if opposite
				game_three_opp_ip.push(opposite.ip)
				game_three_opp_bb = game_three_opp_bb + opposite.bb.to_i
				game_three_opp_h = game_three_opp_h + opposite.h.to_i
			end
		elsif index < 40
			game_four_ip.push(prev_pitcher.ip)
			game_four_bb = game_four_bb + prev_pitcher.bb
			game_four_h = game_four_h + prev_pitcher.h
			if opposite
				game_four_opp_ip.push(opposite.ip)
				game_four_opp_bb = game_four_opp_bb + opposite.bb.to_i
				game_four_opp_h = game_four_opp_h + opposite.h.to_i
			end
		elsif index < 60
			game_five_ip.push(prev_pitcher.ip)
			game_five_bb = game_five_bb + prev_pitcher.bb
			game_five_h = game_five_h + prev_pitcher.h
			if opposite
				game_five_opp_ip.push(opposite.ip)
				game_five_opp_bb = game_five_opp_bb + opposite.bb.to_i
				game_five_opp_h = game_five_opp_h + opposite.h.to_i
			end
		end
	end
%>
<th><%= ((game_one_bb + game_one_h) / add_innings(game_one_ip).to_f).round(2) %></th>
<th><%= ((game_one_opp_bb + game_one_opp_h) / add_innings(game_one_opp_ip).to_f).round(2) %></th>
<th><%= ((game_two_bb + game_two_h) / add_innings(game_two_ip).to_f).round(2) %></th>
<th><%= ((game_two_opp_bb + game_two_opp_h) / add_innings(game_two_opp_ip).to_f).round(2) %></th>
<th><%= ((game_three_bb + game_three_h) / add_innings(game_three_ip).to_f).round(2) %></th>
<th><%= ((game_three_opp_bb + game_three_opp_h) / add_innings(game_three_opp_ip).to_f).round(2) %></th>
<th><%= ((game_four_bb + game_four_h) / add_innings(game_four_ip).to_f).round(2) %></th>
<th><%= ((game_four_opp_bb + game_four_opp_h) / add_innings(game_four_opp_ip).to_f).round(2) %></th>
<th><%= ((game_five_bb + game_five_h) / add_innings(game_five_ip).to_f).round(2) %></th>
<th><%= ((game_five_opp_bb + game_five_opp_h) / add_innings(game_five_opp_ip).to_f).round(2) %></th>
<%
	opposite = pitcher.game.lancers.find_by(starter: true, team_id: pitcher.opp_team.id)
	batters = opposite.opposing_lineup
	batters = opposite.predict_opposing_lineup if batters.empty?
%>
<%
	season_one = Season.find_by(year: 2016)
	season_two = Season.find_by(year: 2017)
	season_three = Season.find_by(year: 2018)
	stats_one = batters.map { |batter| batter.player.create_batter(season_one).stats(handedness(pitcher.throwhand == "L")) }
	stats_two = batters.map { |batter| batter.player.create_batter(season_two).stats(handedness(pitcher.throwhand == "L")) }
	stats_three = batters.map { |batter| batter.player.create_batter(season_three).stats(handedness(pitcher.throwhand == "L")) }
	ab_qu_one = 0
	tld_qu_one = 0
	qu_count_one = 0
	ab_one = 0
	sb_one = 0
	so_one = 0
	count_one = stats_one.count
	stats_one.each do |stat|
		if stat.ab > 70
			ab_qu_one = ab_qu_one + stat.ab
			tld_qu_one = tld_qu_one + stat.tld
			qu_count_one = qu_count_one + 1
		end
		ab_one = ab_one + stat.ab
		sb_one = sb_one + stat.sb
		so_one = so_one + stat.so
	end

	ab_qu_two = 0
	tld_qu_two = 0
	qu_count_two = 0
	ab_two = 0
	sb_two = 0
	so_two = 0
	count_two = stats_two.count
	stats_two.each do |stat|
		if stat.ab > 70
			ab_qu_two = ab_qu_two + stat.ab
			tld_qu_two = tld_qu_two + stat.tld
			qu_count_two = qu_count_two + 1
		end
		ab_two = ab_two + stat.ab
		sb_two = sb_two + stat.sb
		so_two = so_two + stat.so
	end

	ab_qu_three = 0
	tld_qu_three = 0
	qu_count_three = 0
	ab_three = 0
	sb_three = 0
	so_three = 0
	count_three = stats_three.count
	stats_three.each do |stat|
		if stat.ab > 70
			ab_qu_three = ab_qu_three + stat.ab
			tld_qu_three = tld_qu_three + stat.tld
			qu_count_three = qu_count_three + 1
		end
		ab_three = ab_three + stat.ab
		sb_three = sb_three + stat.sb
		so_three = so_three + stat.so
	end
%>
<td><%= sb_two %></td>
<td><%= ab_two %></td>
<td><%= sb_three %></td>
<td><%= ab_three %></td>
<td><%= qu_count_one != 0 ? (ab_qu_one.to_f / qu_count_one).round(1) : 0 %></td>
<td><%= qu_count_two != 0 ? (ab_qu_two.to_f / qu_count_two).round(1) : 0 %></td>
<td><%= qu_count_three != 0 ? (ab_qu_three.to_f / qu_count_three).round(1) : 0 %></td>
<td><%= (100 * so_one.to_f / ab_one).round(1) %></td>
<td><%= (100 * so_two.to_f / ab_two).round(1) %></td>
<td><%= (100 * so_three.to_f / ab_three).round(1) %></td>
<td><%= qu_count_one != 0 ? (tld_qu_one.to_f / qu_count_one).round(1) : 0 %></td>
<td><%= qu_count_two != 0 ? (tld_qu_two.to_f / qu_count_two).round(1) : 0 %></td>
<td><%= qu_count_three != 0 ? (tld_qu_three.to_f / qu_count_three).round(1) : 0 %></td>

