<td><%= pitcher.player.name + "(" + pitcher.throwhand + ")" %></td>
<td><%= pitcher.player.age %></td>
<% lefty_stat = pitcher.stats("L") %>
<% righty_stat = pitcher.stats("R") %>
<% num_lefty, num_righty = pitcher.opposing_batters_handedness %>
<td><%= lefty_stat.fip %>, <%= righty_stat.fip %>,<%= num_lefty %>,<%= num_righty %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>