<td rowspan="2"><%= weather.temp %></td>
<td rowspan="2"><%= weather.feel %></td>
<td rowspan="2"><%= weather.dew %></td>
<td rowspan="2"><%= weather.wind %></td>
<td rowspan="2"><%= weather.pressure %></td>
<td rowspan="2"><%= weather.humidity %></td>
<td rowspan="2"><%= weather.rain %></td>