<% content_for :title, @head + " Matchups" %>
<div class="panel panel-primary text-center">
	<div class="panel-heading">
		<h1><%= @head + " Matchups"%></h1>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><%= link_to 'Home', { action: 'home' }%></li>
		</ul>
		<div class="dateselect" style="text-align: center;">
		  <button class="btn btn-primary prevbutton" style="margin:10px; padding: 5px 20px;">Prev Day</button>
		  <button class="btn btn-primary nextbutton" style="margin:10px; padding: 5px 20px;">Next Day</button>
		  <input type="text" data-toggle="daterangepicker" name="timestamp" data-filter-type="date-range" style="width: 400px; text-align:center; margin: 20px;" class="daterange">
		</div>
		<script type="text/javascript">
		  var start = moment("<%= @game_start_index %>").format('MMM DD, YYYY');
		  var end = moment("<%= @game_end_index %>").format('MMM DD, YYYY') ;
		  $('.daterange').daterangepicker({
		    showDropdowns: true,
		        ranges: {
		           'Today': [moment(), moment()],
		           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
		           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
		           'Next 7 Days': [moment(), moment().add(6, 'days')],
		           'This Week': [moment().startOf('week'), moment().endOf('week')],
		           'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')]
		        },
		        locale: {
		      format: 'MMM DD, YYYY'
		    },
		        startDate: start,
		        endDate: end,
		    }, cb);
		    function cb(start, end) {
		      window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
		    }
		    $('.prevbutton').click(function(){
		        var start = moment("<%= @game_start_index %>").subtract(1, 'days');
		    var end = moment("<%= @game_end_index %>").subtract(1, 'days');
		    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
		        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
		    }); 
		    $('.nextbutton').click(function(){
		        var start = moment("<%= @game_start_index %>").add(1, 'days');
		    var end = moment("<%= @game_end_index %>").add(1, 'days');
		    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
		        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
		    });
		</script>
		<%= render "game_table" %>
	</div>
</div>
