<div class="panel panel-primary text-center">
	<div class="panel-heading">
		<h1>Home Page</h1>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><%= link_to @yesterday.date.strftime("%B %e"),	{ action: 'game', id: @yesterday.id } %></li>
			<li class="list-group-item"><%= link_to @today.date.strftime("%B %e"),		{ action: 'game', id: @today.id } %></li>
			<li class="list-group-item"><%= link_to @tomorrow.date.strftime("%B %e"),	{ action: 'game', id: @tomorrow.id } %></li>
			<li class="list-group-item"><%= link_to 'MLB Calculator',			  		{ controller: 'calc', action: 'input' } %></li>
			<li class="list-group-item"><%= link_to 'Sign Out',							{ controller: 'access', action: 'logout' } %></li>
		</ul>
	</div>
</div>
