<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
</ul>
<div class="image">
  <%= image_tag(@image_url, :width => '600') %>
  <h2><%= @team.stadium + " Zipcode: " + @team.zipcode %></h2>
</div>
<%= render partial: "game/new/lr_table", locals: { min: 2, max: 6, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 2, max: 6, wind_dirs: [], type: 'BATTERS', team: @team } %>

<%= render partial: "game/new/lr_table", locals: { min: 4, max: 9, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 4, max: 9, wind_dirs: [], type: 'BATTERS', team: @team } %>

<%= render partial: "game/new/lr_table", locals: { min: 7, max: 12, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 7, max: 12, wind_dirs: [], type: 'BATTERS', team: @team } %>

<%= render partial: "game/new/lr_table", locals: { min: 10, max: 15, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 10, max: 15, wind_dirs: [], type: 'BATTERS', team: @team } %>

<%= render partial: "game/new/lr_table", locals: { min: 13, max: 20, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 13, max: 20, wind_dirs: [], type: 'BATTERS', team: @team } %>

<%= render partial: "game/new/lr_table", locals: { min: 18, max: 0, wind_dirs: [], type: 'PITCHERS', team: @team } %>
<%= render partial: "game/new/lr_table", locals: { min: 18, max: 0, wind_dirs: [], type: 'BATTERS', team: @team } %>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
</ul>