<% content_for :title, @head %>
<div class="panel panel-primary text-center">
	<div class="panel-heading">
		<h1><%= @away_team.name + " @ " + @home_team.name %></h1>
    <h2><%= "Odds Opener: #{@game.away_money_line} @ #{@game.home_money_line}" %></h2>
    <h2 style="color: red"><%= "Totals Opener: #{@game.away_total} @ #{@game.home_total}" %></h2>
    <h2><%= "Odds Closer: #{@game.away_money_line_closer} @ #{@game.home_money_line_closer}" %></h2>
    <h2 style="color: red"><%= "Totals Closer: #{@game.away_total_closer} @ #{@game.home_total_closer}" %></h2>
		<h3><%= "Gametime: #{DateTime.parse(@game.game_date).strftime("%I:%M%p")} Local Time" %></h3>
		<h3><%= "Ump: #{@game.ump}" %></h3>
		<% unless @game_stats.empty? %>
			<%= render partial: "game/new/game_stats", locals: { game_stats: @game_stats, home_team: @home_team.name, away_team: @away_team.name} %>
		<% end %>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
			<li class="list-group-item"><%= link_to(@date + ' Matchups', { controller: 'index', action: 'game', id: @game_day.id }) %></li>
		</ul>
	</div>
	<%= select_tag :days, options_for_select(@forecast_dropdown, @forecast), :id => "select_days" %>
	<script>
	$(document).ready(function(){
		$('#select_days').change(function() {
			var a = window.location.href.split("/")
			a[6] = $(this).val()
			window.location.href = a.join("/")
		});
	});
	</script>
	<% unless @forecasts.empty? %>
		<%= render partial: "game/new/wind", locals: { caption: "Forecast Wind", weathers: @forecasts, name: @home_team.name, additional: @additional } %>
	<% end %>
	<% unless @weathers.empty? %>
		<%= render partial: "game/new/wind", locals: { caption: "Weather Wind", weathers: @weathers, name: @home_team.name, additional: 0 } %>
	<% end %>

	<div class="image">
		<%= image_tag(@image_url, :width => '600') %>
		<h2><%= @home_team.stadium + " Zipcode: " + @home_team.zipcode %></h2>
	</div>

	<% unless @forecasts.empty? %>
		<%= render partial: "game/new/updated_weather", locals: { caption: "Wunderground Weather Forecast", type: 0, weathers: @weather_forecasts, name: @home_team.name, stadium: @home_team.stadium } %>
	<% end %>
	<% unless @weathers.empty? %>
		<%= render partial: "game/new/updated_weather", locals: { caption: "Wunderground Weather Records", type: 2, weathers: @weather_actual, name: @home_team.name, stadium: @home_team.stadium } %>
	<% end %>

	<% unless @forecasts.empty? %>
		<%= render partial: "game/new/updated_weather", locals: { caption: "Wunderground Weather Forecast", type: 1, weathers: @weather_previous, name: @home_team.name, stadium: @home_team.stadium } %>
	<% end %>
</div>

