<table class="table-bordered game-stat">
  <tbody>
    <tr>
      <td><%= away_team %></td>
      <% game_stats.order(:row_number).each do |game_stat| %>
        <td><%= game_stat.away_score %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= home_team %></td>
      <% game_stats.order(:row_number).each do |game_stat| %>
        <td><%= game_stat.home_score %></td>
      <% end %>
    </tr>
    <tr>
      <td>Hits</td>
      <% hits = 0 %>
      <% game_stats.order(:row_number).limit(game_stats.length - 3).each do |game_stat| %>
        <td><%= game_stat.hits %></td>
        <% hits = hits + game_stat.hits.to_i %>
      <% end %>
      <td colspan="3"><%= hits %> hits</td>
    </tr>
    <tr>
      <td>Home Runs</td>
      <% home_runs = 0 %>
      <% game_stats.order(:row_number).limit(game_stats.length - 3).each do |game_stat| %>
        <td><%= game_stat.home_runs %></td>
        <% home_runs = home_runs + game_stat.home_runs.to_i %>
      <% end %>
      <td colspan="3"><%= home_runs %> hr's</td>
    </tr>
  </tbody>
</table>