<%
  caption = max != 0 ? "#{min} ~ #{max} MPH" : "#{min} +"
  directions = [
    'North',
    'NNE',
    'NE',
    'ENE',
    'East',
    'ESE',
    'SE',
    'SSE',
    'South',
    'SSW',
    'SW',
    'WSW',
    'West',
    'WNW',
    'NW',
    'NNW',
  ]
  flag = 'B'
  header_style = 'background: rgb(0, 233, 208)'
  if type == 'PITCHERS'
    flag = 'HP'
    header_style = 'background: darkorange'
  end
%>

<table class="table-bordered">
  <thead>
    <tr style="<%= header_style %>">
      <th colspan="3">
        <%= type %>
      </th>
      <th></th>
      <th colspan="5">
        <%= type %>
      </th>
      <th></th>
      <th colspan="5">
        <%= type %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th>WIND SPEED</th>
      <th>DIRECTION</th>
      <th style="background: green"></th>
      <th>L<%= flag %> AB's</th>
      <th>L<%= flag %> hits</th>
      <th>L<%= flag %> bb's</th>
      <th>L<%= flag %> AVE</th>
      <th>L<%= flag %> OBP</th>
      <th style="background: green"></th>
      <th>R<%= flag %> AB's</th>
      <th>R<%= flag %> hits</th>
      <th>R<%= flag %> bb's</th>
      <th>R<%= flag %> AVE</th>
      <th>R<%= flag %> OBP</th>
      <th style="background: green"></th>
      <th>+/- AVE</th>
      <th>+/- OBP</th>
    </tr>
  </thead>
  <tbody>
    <%
      directions.each do |direction|
      result = lr_filter(min, max, direction, team.name)
      l_ab = 0
      l_h  = 0
      l_bb = 0
      l_ave = 0
      l_obp = 0
      r_ab = 0
      r_h  = 0
      r_bb = 0
      r_ave = 0
      r_obp = 0
      if type == 'PITCHERS'
        l_ab = result[:ll_ab] + result[:rl_ab]
        l_h  = result[:ll_h]  + result[:rl_h]
        l_bb = result[:ll_bb] + result[:rl_bb]
        l_ave = l_ab != 0 ? (l_h / l_ab) : 0
        l_obp = (l_ab + l_bb) != 0 ? ((l_h + l_bb) / (l_ab + l_bb)) : 0

        r_ab = result[:lr_ab] + result[:rr_ab]
        r_h  = result[:lr_h]  + result[:rr_h]
        r_bb = result[:lr_bb] + result[:rr_bb]
        r_ave = r_ab != 0 ? (r_h / r_ab) : 0
        r_obp = (r_ab + r_bb) != 0 ? ((r_h + r_bb) / (r_ab + r_bb)) : 0
      else
        l_ab = result[:ll_ab] + result[:lr_ab]
        l_h  = result[:ll_h]  + result[:lr_h]
        l_bb = result[:ll_bb] + result[:lr_bb]
        l_ave = l_ab != 0 ? (l_h / l_ab) : 0
        l_obp = (l_ab + l_bb) != 0 ? ((l_h + l_bb) / (l_ab + l_bb)) : 0

        r_ab = result[:rl_ab] + result[:rr_ab]
        r_h  = result[:rl_h]  + result[:rr_h]
        r_bb = result[:rl_bb] + result[:rr_bb]
        r_ave = r_ab != 0 ? (r_h / r_ab) : 0
        r_obp = (r_ab + r_bb) != 0 ? ((r_h + r_bb) / (r_ab + r_bb)) : 0
      end

      total_ab = result[:ll_ab] + result[:rl_ab] + result[:lr_ab] + result[:rr_ab]
      total_h  = result[:ll_h]  + result[:rl_h] + result[:lr_h]  + result[:rr_h]
      total_bb = result[:ll_bb] + result[:rl_bb] + result[:lr_bb] + result[:rr_bb]
      total_ave = total_ab != 0 ? (total_h / total_ab) : 0
      total_obp = (total_ab + total_bb) != 0 ? ((total_h + total_bb) / (total_ab + total_bb)) : 0
      row_style = ''
      row_style = 'background: red' if wind_dirs.include? direction
    %>
      <tr style="<%= row_style %>">
        <td><%= team.name %></td>
        <td><%= caption %></td>
        <td><%= direction %></td>
        <td style="background: green"></td>
        <td><%= l_ab %></td>
        <td><%= l_h %></td>
        <td><%= l_bb %></td>
        <td><%= l_ave %></td>
        <td><%= l_obp %></td>
        <td style="background: green"></td>
        <td><%= r_ab %></td>
        <td><%= r_h %></td>
        <td><%= r_bb %></td>
        <td><%= r_ave %></td>
        <td><%= r_obp %></td>
        <td style="background: green"></td>
        <td><%= total_ave %></td>
        <td><%= total_obp %></td>
      </tr>
    <% end %>
  </tbody>
</table>