<% if prev_pitchers.length > 0
		ip_sum = []
		bb_sum = 0
		h_sum = 0
		r_sum = 0
		opposite_ip_sum = []
		opposite_bb_sum = 0
		opposite_h_sum = 0
		opposite_r_sum = 0
		prev_pitchers.each_with_index do |pitcher, index|
		opposite = pitcher.game.lancers.find_by(starter: true, team_id: pitcher.opp_team.id)
		style = ""
		style = "background: yellow" if opposite && opposite.throwhand != throwhand %>
		<% weather = pitcher.game.weathers.find_by(hour: 1, station: "Actual") %>
		<% if index % 4 == 3 %>
			<tr class='lightgray'>
		<% else %>
			<tr>
		<% end %>
			<td><%= start+index+1 %></td>
			<td><%= pitcher.game.game_day.date_string %></td>
			<td><%= DateTime.parse(pitcher.game.game_date).strftime("%I:%M%p") %></td>
			<td style="background-color: red;"><%= pitcher.opp_team.baseball_abbr if pitcher.opp_team %></td>
			<td class="lightgray"><%= pitcher.ip %></td>
			<td class="lightgray"><%= pitcher.bb %></td>
			<td class="lightgray"><%= pitcher.h %></td>
			<td class="lightgray"><%= pitcher.r %></td>
			<%
				ip_sum.push(pitcher.ip)
				bb_sum = bb_sum + pitcher.bb
				h_sum = h_sum + pitcher.h
				r_sum = r_sum + pitcher.r
			%>
			<% if weather %>
				<td><%= weather.temp %></td>
				<td><%= weather.dp %></td>
				<td style='<%= "#{style}" %>'><%= weather.wind_speed %></td>
				<td style='<%= "#{style}" %>'><%= weather.wind_dir %></td>
				<td style='<%= "#{style}" %>'><%= d2_calc(pitcher.game.home_team.baseball_abbr, weather.wind_dir) %></td>
				<td><%= weather.pressure %></td>
				<td><%= weather.hum %></td>
			<% else %>
				<td colspan="7"></td>
			<% end %>
			<td style="background-color: red;"><%= pitcher.game.home_team.baseball_abbr %></td>
			<% if weather %>
				<%
				humid_max = weather.humid_num + 3
				humid_min = weather.humid_num - 3
				if DateTime.parse(pitcher.game.game_date).hour > 18
					humid_min = humid_min + 2
					humid_max = humid_max + 2
				end
				result = true_data_pitcher((weather.temp_num - 5).round(1), (weather.temp_num + 5).round(1), (weather.dew_num-2).round, (weather.dew_num+2).round, humid_min.round, humid_max.round, (weather.pressure_num-0.04).round(2), (weather.pressure_num+0.04).round(2), weather.wind_speed.to_f, weather.wind_speed.to_f, weather.wind_dir, weather.wind_dir, pitcher.game.home_team.name)
				%>
				<td class="blue"><%= result[:total_count] %></td>
				<td style="background-color: royalblue;"><%= result[:total_avg_1] %></td>
				<td style="background-color: royalblue;"><%= result[:total_avg_2] %></td>
				<td class="blue"><%= result[:total_hits_avg] %></td>
				<td class="blue"><%= result[:home_runs_avg] %></td>
				<td style="background-color: royalblue;"><%= result[:lower_one] %></td>
				<td class="blue"><%= result[:lower_one_count] %></td>
				<td style="background-color: red;"></td>
				<td class="blue"> <%= result[:home_total_runs1_avg] %> </td>
				<td class="blue"> <%= result[:home_total_runs2_avg] %> </td>
				<td class="blue"> <%= result[:home_count] %> </td>
				<td class="blue"> <%= result[:home_one] %> </td>
				<td class="blue"> <%= result[:home_one_count] %> </td>
			<% else %>
				<td colspan="13"></td>
			<% end %>
			<%
				if opposite
					opposite_ip_sum.push(opposite.ip)
					opposite_bb_sum = opposite_bb_sum + opposite.bb.to_i
					opposite_h_sum = opposite_h_sum + opposite.h.to_i
					opposite_r_sum = opposite_r_sum + opposite.r.to_i
			%>
				<td> (<%= "#{opposite.throwhand}" %>) <%= opposite.name %> </td>
				<td> <%= opposite.ip %> </td>
				<td> <%= opposite.bb %> </td>
				<td> <%= opposite.h %> </td>
				<td style='<%= "#{style}" %>'> <%= opposite.r %> </td>
			<% else %>
				<td colspan="5"></td>
			<% end %>
		</tr>
	<% end %>
	<%
		prev_pitchers_ip = add_innings(ip_sum)
		opposite_ip = add_innings(opposite_ip_sum)
	%>
	<tr>
	  <td></td>
	  <td bgcolor="#DC143C">Totals</td>
	  <td></td>
	  <td></td>
	  <td bgcolor="#DC143C"><%= prev_pitchers_ip %></td>
	  <td bgcolor="#DC143C"><%= bb_sum %></td>
	  <td bgcolor="#DC143C"><%= h_sum %></td>
	  <td bgcolor="#DC143C"><%= r_sum %></td>
	  <td class="blue"><%= ((bb_sum + h_sum) / prev_pitchers_ip.to_f).round(2) %></td>
	  <td colspan="20"></td>
	  <td class="blue"><%= ((opposite_bb_sum + opposite_h_sum) / opposite_ip.to_f).round(2) %></td>
	  <td bgcolor="#DC143C"><%= opposite_ip %></td>
	  <td bgcolor="#DC143C"><%= opposite_bb_sum %></td>
	  <td bgcolor="#DC143C"><%= opposite_h_sum %></td>
	  <td bgcolor="#DC143C"><%= opposite_r_sum %></td>
	</tr>
<% end %>