<% result = true_data_prev(temp_min, temp_max, dew_min, dew_max, hum_min, hum_max, pressure_min, pressure_max, name) %>
<tr bgcolor="<%= color %>">
    <td class="lightgray"><%= caption %></td>
    <td><%= "#{temp_min}-#{temp_max}" %></td>
    <td><%= "#{dew_min.round}-#{dew_max.round}" %><br><%= "#{(dew_min+1).round}-#{(dew_max-1).round}" %></td>
    <td><%= hum_min === hum_max ? hum_min : "#{hum_min}-#{hum_max}" %></td>
    <td><%= "#{(pressure_min*100).round%100}-#{(pressure_max*100).round%100}" %></td>
    <td><%= wind %></td>
    <td class="blue"></td>
    <td><%= result[:total_avg_1] %></td>
    <td><%= result[:total_avg_2] %></td>
    <td><%= result[:total_hits_avg] %></td>
    <td><%= result[:home_runs_avg] %></td>
    <td><%= result[:total_count] %></td>
    <td class="blue"></td>
    <td><%= result[:lower_one] %></td>
    <td><%= result[:lower_one_count] %></td>
    <td style="background: gray; color: sandybrown;"><%= result[:total_lines_avg] %></td>
    <td class="blue"></td>
    <td style="background: sandybrown;"><%= result[:home_total_runs1_avg] %></td>
    <td style="background: sandybrown;"><%= result[:home_total_runs2_avg] %></td>
    <td style="background: sandybrown;"><%= result[:total_hits_park_avg] %></td>
    <td style="background: sandybrown;"><%= result[:total_hr_park] %></td>
    <td style="background: sandybrown;"><%= result[:home_count] %></td>
    <td class="blue"></td>
    <td style="background: sandybrown;"><%= result[:home_one] %></td>
    <td style="background: sandybrown;"><%= result[:home_one_count] %></td>
    <td style="background: gray; color: sandybrown;"><%= result[:total_lines_park_avg] %></td>
    <td class="lightgray"><%= caption %></td>
    <td><%= result[:home_total_runs1_avg_dup] %></td>
    <td><%= result[:home_total_runs2_avg_dup] %></td>
    <td><%= result[:total_hits_park_avg_dup] %></td>
    <td><%= result[:total_hr_park_dup] %></td>
    <td><%= result[:home_count_dup] %></td>
    <td class="blue"></td>
    <td><%= result[:home_one_dup] %></td>
    <td><%= result[:home_one_count_dup] %></td>
    <td style="background: gray; color: sandybrown;"><%= result[:total_lines_park_avg_dup] %></td>
</tr>