<% caption = weather.caption %>
<tr bgcolor="<%= color %>">
    <% if real && real.conditions %>
      <td bgcolor="gray"><%= real.conditions %></td>
    <% else %>
      <td bgcolor="white"></td>
    <% end %>
    <td bgcolor="<%= bgcolor %>"><%= weather.caption %></td>
    <td><%= weather.temp %></td>
    <td><%= weather.dew %></td>
    <td bgcolor="<%=  caption == "Minus 5" || caption == "Plus 5" ?  "#EA5" : "" %>"><%= weather.humid %></td>
    <td><%= weather.pressure %></td>
    <td><%= weather.wind %></td>
    <td class="blue"></td>
    <% if real && real.conditions %>
      <td bgcolor="gray">Over/Under</td>
      <td bgcolor="gray">Over/Under</td>
    <% else %>
      <td bgcolor="#87cefa"></td>
      <td bgcolor="#87cefa"></td>
    <% end %>
    <td><%= weather.except_total_average_one %></td>
    <td><%= weather.except_total_average_two %></td>
    <td><%= weather.except_total_hits_average %></td>
    <td><%= weather.except_home_runs_average %></td>
    <td><%= weather.except_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.except_min_total_average %></td>
    <td><%= weather.except_min_total_count %></td>
    <td style="background: #555; color: sandybrown;"><%= weather.except_total_lines_average %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_total_average_one %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_total_average_two %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_total_hits_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_home_runs_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_total_count %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_min_total_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.only_min_total_count %></td>
    <td style="background: #555; color: sandybrown;"><%= weather.only_total_lines_average %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.caption %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_total_average_one %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_total_average_two %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_total_hits_average %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_home_runs_average %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_total_count %></td>
    <td class="blue"></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_min_total_average %></td>
    <td bgcolor="<%= (caption == "Minus 5" || caption == "Plus 5") ? "yellow" : (caption == "With wind" ? "" : "gray") %>"><%= weather.only_wind_min_total_count %></td>
    <td style="background: #555; color: sandybrown;"><%= weather.only_wind_total_lines_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.all_stadium_total_average_one %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "yellow" %>"><%= weather.all_stadium_total_average_two %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.t_HITS_avg %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "yellow" %>"><%= weather.all_stadium_total_hits_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.t_HRS_avg %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "yellow" %>"><%= weather.all_stadium_home_runs_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.all_stadium_total_count %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.all_stadium_min_total_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "#EA5" %>"><%= weather.all_stadium_min_total_count %></td>
    <td style="background: #555; color: sandybrown;"><%= weather.all_stadium_total_lines_average %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.first_count %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.second_count %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.third_count %></td>
    <td bgcolor="black"></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.city1 %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.cityCount1 %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.city2 %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.cityCount2 %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.city3 %></td>
    <td bgcolor="<%= caption == "Minus 5" || caption == "Plus 5" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.cityCount3 %></td>
</tr>