<tr bgcolor="black" style="color: red;">
    <td bgcolor="gray" style="color: #363636;"><%= real.conditions %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.caption %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.temp %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.dew %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.humid %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.pressure %></td>
    <td bgcolor="gray" style="color: #363636;"><%= weather.wind %></td>
    <td class="blue"></td>
    <td bgcolor="black"></td>
    <td bgcolor="black"></td>
    <td style="border-color: white !important;"><%= weather.except_total_average_one %></td>
    <td style="border-color: white !important;"><%= weather.except_total_average_two %></td>
    <td style="border-color: white !important;"><%= weather.except_total_hits_average %></td>
    <td style="border-color: white !important;"><%= weather.except_home_runs_average %></td>
    <td style="border-color: white !important;"><%= weather.except_total_count %></td>
    <td class="blue"></td>
    <td style="border-color: white !important;"><%= weather.except_min_total_average %></td>
    <td style="border-color: white !important;"><%= weather.except_min_total_count %></td>
    <td style="border-color: white !important;"><%= weather.except_total_lines_average %></td>
    <td class="blue"></td>
    <td style="border-color: white !important;"><%= weather.only_total_average_one %></td>
    <td style="border-color: white !important;"><%= weather.only_total_average_two %></td>
    <td style="border-color: white !important;"><%= weather.only_total_hits_average %></td>
    <td style="border-color: white !important;"><%= weather.only_home_runs_average %></td>
    <td style="border-color: white !important;"><%= weather.only_total_count %></td>
    <td class="blue"></td>
    <td style="border-color: white !important;"><%= weather.only_min_total_average %></td>
    <td style="border-color: white !important;"><%= weather.only_min_total_count %></td>
    <td style="border-color: white !important;"><%= weather.only_total_lines_average %></td>
    <td style="border-color: white !important;"><%= weather.caption %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_total_average_one %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_total_average_two %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_total_hits_average %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_home_runs_average %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_total_count %></td>
    <td class="blue"></td>
    <td style="border-color: white !important;"><%= weather.only_wind_min_total_average %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_min_total_count %></td>
    <td style="border-color: white !important;"><%= weather.only_wind_total_lines_average %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_total_average_one %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_total_average_two %></td>
    <td style="border-color: white !important;"><%= weather.t_HITS_avg %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_total_hits_average %></td>
    <td style="border-color: white !important;"><%= weather.t_HRS_avg %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_home_runs_average %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_total_count %></td>
    <td class="blue"></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_min_total_average %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_min_total_count %></td>
    <td style="border-color: white !important;"><%= weather.all_stadium_total_lines_average %></td>
    <td style="border-color: white !important;"><%= weather.first_count %></td>
    <td style="border-color: white !important;"><%= weather.second_count %></td>
    <td style="border-color: white !important;"><%= weather.third_count %></td>
    <td class="black"></td>
    <td style="border-color: white !important;"><%= weather.city1 %></td>
    <td style="border-color: white !important;"><%= weather.cityCount1 %></td>
    <td style="border-color: white !important;"><%= weather.city2 %></td>
    <td style="border-color: white !important;"><%= weather.cityCount2 %></td>
    <td style="border-color: white !important;"><%= weather.city3 %></td>
    <td style="border-color: white !important;"><%= weather.cityCount3 %></td>
</tr>