<tr bgcolor="<%= color %>">
    <td bgcolor="<%= bgcolor %>"><%= weather.caption %></td>
    <td><%= weather.temp %></td>
    <td><%= weather.dew %></td>
    <td><%= weather.humid %></td>
    <td><%= weather.pressure %></td>
    <td><%= weather.wind %></td>
    <td class="blue"></td>
    <td><%= weather.all_stadium_total_average_one %></td>
    <td><%= weather.all_stadium_total_average_two %></td>
    <td><%= weather.all_stadium_total_hits_average %></td>
    <td><%= weather.all_stadium_home_runs_average %></td>
    <td><%= weather.all_stadium_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.all_stadium_min_total_average %></td>
    <td><%= weather.all_stadium_min_total_count %></td>
        <td style="background: gray; color: sandybrown;"><%= weather.all_stadium_total_lines_average %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_total_average_one %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_total_average_two %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_total_hits_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_home_runs_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_total_count %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_min_total_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "sandybrown" %>"><%= weather.only_min_total_count %></td>
    <td style="background: gray; color: sandybrown;"><%= weather.only_total_lines_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.caption %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_total_average_one %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_total_average_two %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_total_hits_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_home_runs_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_total_count %></td>
    <td class="blue"></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_min_total_average %></td>
    <td bgcolor="<%= caption == "Before" || caption == "After" || caption == "With wind" ? "" : "lightgray" %>"><%= weather.only_wind_min_total_count %></td>
    <td style="background: gray; color: sandybrown;"><%= weather.only_wind_total_lines_average %></td>
    <td><%= weather.except_total_average_one %></td>
    <td><%= weather.except_total_average_two %></td>
    <td><%= weather.except_total_hits_average %></td>
    <td><%= weather.except_home_runs_average %></td>
    <td><%= weather.except_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.except_min_total_average %></td>
    <td><%= weather.except_min_total_count %></td>
    <td style="background: gray; color: sandybrown;"><%= weather.except_total_lines_average %></td>
</tr>