<tr bgcolor="black" style="color: red;">
    <td bgcolor="gray"><%= real.conditions %></td>
    <td bgcolor="gray"><%= weather.caption %></td>
    <td bgcolor="gray"><%= weather.temp %></td>
    <td bgcolor="gray"><%= weather.dew %></td>
    <td bgcolor="gray"><%= weather.humid %></td>
    <td bgcolor="gray"><%= weather.pressure %></td>
    <td bgcolor="gray"><%= weather.wind %></td>
    <td class="blue"></td>
    <td><%= weather.except_total_average_one %></td>
    <td><%= weather.except_total_average_two %></td>
    <td><%= weather.except_total_hits_average %></td>
    <td><%= weather.except_home_runs_average %></td>
    <td><%= weather.except_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.except_min_total_average %></td>
    <td><%= weather.except_min_total_count %></td>
    <td><%= weather.except_total_lines_average %></td>
    <td class="blue"></td>
    <td><%= weather.only_total_average_one %></td>
    <td><%= weather.only_total_average_two %></td>
    <td><%= weather.only_total_hits_average %></td>
    <td><%= weather.only_home_runs_average %></td>
    <td><%= weather.only_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.only_min_total_average %></td>
    <td><%= weather.only_min_total_count %></td>
    <td><%= weather.only_total_lines_average %></td>
    <td><%= weather.caption %></td>
    <td><%= weather.only_wind_total_average_one %></td>
    <td><%= weather.only_wind_total_average_two %></td>
    <td><%= weather.only_wind_total_hits_average %></td>
    <td><%= weather.only_wind_home_runs_average %></td>
    <td><%= weather.only_wind_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.only_wind_min_total_average %></td>
    <td><%= weather.only_wind_min_total_count %></td>
    <td><%= weather.only_wind_total_lines_average %></td>
    <td><%= weather.all_stadium_total_average_one %></td>
    <td><%= weather.all_stadium_total_average_two %></td>
    <td><%= weather.t_HITS_avg %></td>
    <td><%= weather.all_stadium_total_hits_average %></td>
    <td><%= weather.t_HRS_avg %></td>
    <td><%= weather.all_stadium_home_runs_average %></td>
    <td><%= weather.all_stadium_total_count %></td>
    <td class="blue"></td>
    <td><%= weather.all_stadium_min_total_average %></td>
    <td><%= weather.all_stadium_min_total_count %></td>
    <td><%= weather.all_stadium_total_lines_average %></td>
    <td><%= weather.first_count %></td>
    <td><%= weather.second_count %></td>
    <td><%= weather.third_count %></td>
    <td class="black"></td>
    <td><%= weather.city1 %></td>
    <td><%= weather.cityCount1 %></td>
    <td><%= weather.city2 %></td>
    <td><%= weather.cityCount2 %></td>
    <td><%= weather.city3 %></td>
    <td><%= weather.cityCount3 %></td>
</tr>