<tr bgcolor="black">
    <td bgcolor="gray"><%= weather.conditions %></td>
    <td bgcolor="gray"><%= weather_time(weather.game.game_date, weather.hour) %></td>
    <td bgcolor="gray"><%= weather.temp %></td>
    <td bgcolor="gray"><%= weather.dew %></td>
    <td bgcolor="gray"><%= weather.humid %></td>
    <td bgcolor="gray"><%= weather.pressure %></td>
    <td bgcolor="gray"><%= weather.wind %></td>
    <td class="blue"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>