<table class="table-bordered weather">
  <caption><%= caption %></caption>
  <thead>
  	<tr bgcolor="gray">
  	  <th width="50">Time</th>
  	  <th width="80">Temperature</th>
      <th width="50">Dew</th>
      <th width="60">Humidity</th>
      <th width="60">Pressure</th>
  	  <th width="60">Wind</th>
      <th width="10" class="blue"></th>
      <th width="50">Total Average 1</th>
      <th width="50">Total Average 2</th>
      <th width="50">Total Hits Average</th>
      <th width="50">Home Runs Average</th>
      <th width="50">Total Count</th>
      <th width="10" class="blue"></th>
      <th width="50">+/-1</th>
      <th width="50">Total Count +/-1</th>
      <th width="10" class="blue"></th>
      <th width="50">Home Team Total 1</th>
      <th width="50">Home Team Total 2</th>
      <th width="50">Home Total Count</th>
      <th width="50">Home +/- 1</th>
      <th width="50">Home Total Count +/- 1</th>
  	</tr>
  </thead>
  <tbody>
    <% if weathers[3].temp_num != 0.0 %>
      <tr bgcolor="#DC143C">
        <td></td>
        <td colspan="5"><%= caption %></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <% weathers.each do |weather| %>
      	<tr>
      		<td class="lightgray"><%= weather_time(weather.game.game_date, weather.hour) %></td>
          <td><%= weather.temp %></td>
          <td><%= weather.dp %></td>
          <td><%= weather.hum %></td>
          <td><%= weather.pressure %></td>
          <td><%= weather.wind %></td>
          <% result = true_data(weather.temp_num - 5, weather.temp_num + 5, weather.dew_num-2, weather.dew_num+2, weather.humid_num-3, weather.humid_num+3, weather.pressure_num-0.04, weather.pressure_num+0.04, name) %>
          <td class="blue"></td>
          <td><%= result[:total_avg_1] %></td>
          <td><%= result[:total_avg_2] %></td>
          <td><%= result[:total_hits_avg] %></td>
          <td><%= result[:home_runs_avg] %></td>
          <td><%= result[:total_count] %></td>
          <td class="blue"></td>
          <td><%= result[:lower_one] %></td>
          <td><%= result[:lower_one_count] %></td>
          <td class="blue"></td>
          <td><%= result[:home_total_runs1_avg] %></td>
          <td><%= result[:home_total_runs2_avg] %></td>
          <td><%= result[:home_count] %></td>
          <td><%= result[:home_one] %></td>
          <td><%= result[:home_one_count] %></td>
      	</tr>
      <% end %>

      <tr bgcolor="#DC143C">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <% weathers.each_with_index do |weather, index| %>
        <tr>
          <td class="lightgray"><%= index + 1 %> hour</td>
          <td><%= "#{(weather.temp_num-4).round(1)}-#{(weather.temp_num+4).round(1)}" %></td>
          <td><%= "#{(weather.dew_num-2).round(1)}-#{(weather.dew_num+2).round(1)}" %> <%= "#{(weather.dew_num-1).round(1)}-#{(weather.dew_num+1).round(1)}" %></td>
          <td><%= "#{weather.humid_num-3}-#{weather.humid_num+3}" %></td>
          <td><%= "#{((weather.pressure_num-0.04)*100).round%100}-#{((weather.pressure_num+0.04)*100).round%100}" %></td>
          <td><%= weather.wind %></td>
          <% result = true_data(weather.temp_num - 4, weather.temp_num + 4, weather.dew_num-2, weather.dew_num+2, weather.humid_num-3, weather.humid_num+3, (weather.pressure_num-0.04).round(2), (weather.pressure_num+0.04).round(2), name) %>
          <td class="blue"></td>
          <td><%= result[:total_avg_1] %></td>
          <td><%= result[:total_avg_2] %></td>
          <td><%= result[:total_hits_avg] %></td>
          <td><%= result[:home_runs_avg] %></td>
          <td><%= result[:total_count] %></td>
          <td class="blue"></td>
          <td><%= result[:lower_one] %></td>
          <td><%= result[:lower_one_count] %></td>
          <td class="blue"></td>
          <td><%= result[:home_total_runs1_avg] %></td>
          <td><%= result[:home_total_runs2_avg] %></td>
          <td><%= result[:home_count] %></td>
          <td><%= result[:home_one] %></td>
          <td><%= result[:home_one_count] %></td>
        </tr>
      <% end %>

      <tr bgcolor="#DC143C">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr bgcolor="#6495ED">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr bgcolor="#DC143C">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td class="blue"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <% weather_one = weathers[0] %>
      <% weather_two = weathers[1] %>

      <%
        min = 0
        middle = 1
        max = 2
        if weathers[min].humid_num > weathers[middle].humid_num
          index_temp = min
          min = middle
          middle = index_temp
        end

        if weathers[min].humid_num > weathers[max].humid_num
          index_temp = min
          min = max
          max = index_temp
        end

        if weathers[middle].humid_num > weathers[max].humid_num
          index_temp = middle
          middle = max
          max = index_temp
        end
      %>

      <% (1..3).each do |one_sec| %>
        <%
          slogan = "#{one_sec}-#{one_sec + 1} hour"
          weather_one = weathers[one_sec - 1]
          weather_two = weathers[one_sec]

          temp_min = weather_one.temp_num
          temp_max = weather_two.temp_num
          if temp_min > temp_max
            temp_min = weather_two.temp_num
            temp_max = weather_one.temp_num
          end
          temp_diff = ((9 + temp_min - temp_max)/2).to_i
          temp_min = temp_min - temp_diff
          temp_max = temp_max + temp_diff

          dew_min = weather_one.dew_num
          dew_max = weather_two.dew_num
          if dew_min > dew_max
            dew_min = weather_two.dew_num
            dew_max = weather_one.dew_num
          end
          dew_diff = ((5 + dew_min - dew_max)/2).to_i
          dew_min = dew_min - dew_diff
          dew_max = dew_max + dew_diff

          pressure_min = (weather_one.pressure_num * 100).round
          pressure_max = (weather_two.pressure_num * 100).round
          if pressure_min > pressure_max
            pressure_min = (weather_two.pressure_num * 100).round
            pressure_max = (weather_one.pressure_num * 100).round
          end
          pressure_diff = ((8 + pressure_min - pressure_max)/2).to_i
          pressure_min = pressure_min - pressure_diff
          pressure_max = pressure_max + pressure_diff
        %>
      
        <% if one_sec == 1 %>
          <% 
            if weathers[0].humid_num > weathers[3].humid_num
              hum_min = weathers[0].humid_num + 1
              hum_max = weathers[0].humid_num + 6
            else
              hum_min = weathers[0].humid_num - 6
              hum_max = weathers[0].humid_num - 1
            end
            result = true_data(temp_min, temp_max, dew_min, dew_max, hum_min, hum_max, (pressure_min/100.0).round(2), (pressure_max/100.0).round(2), name)
          %>
          <tr bgcolor="gray">
            <td class="lightgray">Before</td>
            <td><%= "#{temp_min}-#{temp_max}" %></td>
            <td><%= "#{dew_min}-#{dew_max}" %> <%= "#{dew_min - 1}-#{dew_max + 1}" %></td>
            <td><%= "#{hum_min}-#{hum_max}" %></td>
            <td><%= "#{pressure_min%100}-#{pressure_max%100}" %></td>
            <td></td>
            <td class="blue"></td>
            <td><%= result[:total_avg_1] %></td>
            <td><%= result[:total_avg_2] %></td>
            <td><%= result[:total_hits_avg] %></td>
            <td><%= result[:home_runs_avg] %></td>
            <td><%= result[:total_count] %></td>
            <td class="blue"></td>
            <td><%= result[:lower_one] %></td>
            <td><%= result[:lower_one_count] %></td>
            <td class="blue"></td>
            <td><%= result[:home_total_runs1_avg] %></td>
            <td><%= result[:home_total_runs2_avg] %></td>
            <td><%= result[:home_count] %></td>
            <td><%= result[:home_one] %></td>
            <td><%= result[:home_one_count] %></td>
          </tr>
        <% end %>


        <% if one_sec == 3 %>
          <% 
            if weathers[0].humid_num < weathers[3].humid_num
              hum_min = weathers[3].humid_num + 1
              hum_max = weathers[3].humid_num + 6
            else
              hum_min = weathers[3].humid_num - 6
              hum_max = weathers[3].humid_num - 1
            end
            result = true_data(temp_min, temp_max, dew_min, dew_max, hum_min, hum_max, (pressure_min/100.0).round(2), (pressure_max/100.0).round(2), name)
          %>
          <tr bgcolor="gray">
            <td class="lightgray">After</td>
            <td><%= "#{temp_min}-#{temp_max}" %></td>
            <td><%= "#{dew_min}-#{dew_max}" %> <%= "#{dew_min - 1}-#{dew_max + 1}" %></td>
            <td><%= "#{hum_min}-#{hum_max}" %></td>
            <td><%= "#{pressure_min%100}-#{pressure_max%100}" %></td>
            <td></td>
            <td class="blue"></td>
            <td><%= result[:total_avg_1] %></td>
            <td><%= result[:total_avg_2] %></td>
            <td><%= result[:total_hits_avg] %></td>
            <td><%= result[:home_runs_avg] %></td>
            <td><%= result[:total_count] %></td>
            <td class="blue"></td>
            <td><%= result[:lower_one] %></td>
            <td><%= result[:lower_one_count] %></td>
            <td class="blue"></td>
            <td><%= result[:home_total_runs1_avg] %></td>
            <td><%= result[:home_total_runs2_avg] %></td>
            <td><%= result[:home_count] %></td>
            <td><%= result[:home_one] %></td>
            <td><%= result[:home_one_count] %></td>
          </tr>
        <% end %>

        <%
          hum_min = weather_one.humid_num
          hum_max = weather_two.humid_num
          if hum_min > hum_max
            hum_min = weather_two.humid_num
            hum_max = weather_one.humid_num
          end
          result = true_data(temp_min, temp_max, dew_min, dew_max, hum_min, hum_max, (pressure_min/100.0).round(2), (pressure_max/100.0).round(2), name)
        %>

        <tr>
          <td class="lightgray"><%= slogan %></td>
          <td><%= "#{temp_min}-#{temp_max}" %></td>
          <td><%= "#{dew_min}-#{dew_max}" %> <%= "#{dew_min - 1}-#{dew_max + 1}" %></td>
          <td><%= "#{hum_min}-#{hum_max}" %></td>
          <td><%= "#{pressure_min%100}-#{pressure_max%100}" %></td>
          <td></td>
          <td class="blue"></td>
          <td><%= result[:total_avg_1] %></td>
          <td><%= result[:total_avg_2] %></td>
          <td><%= result[:total_hits_avg] %></td>
          <td><%= result[:home_runs_avg] %></td>
          <td><%= result[:total_count] %></td>
          <td class="blue"></td>
          <td><%= result[:lower_one] %></td>
          <td><%= result[:lower_one_count] %></td>
          <td class="blue"></td>
          <td><%= result[:home_total_runs1_avg] %></td>
          <td><%= result[:home_total_runs2_avg] %></td>
          <td><%= result[:home_count] %></td>
          <td><%= result[:home_one] %></td>
          <td><%= result[:home_one_count] %></td>
        </tr>

        <tr bgcolor="#6495ED">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <%
          (hum_min..hum_max).each do |hum_each|
            result = true_data(temp_min, temp_max, dew_min, dew_max, hum_each, hum_each, (pressure_min/100.0).round(2), (pressure_max/100.0).round(2), name)
        %>
          <tr>
            <td class="lightgray"><%= slogan %></td>
            <td><%= "#{temp_min}-#{temp_max}" %></td>
            <td><%= "#{dew_min}-#{dew_max}" %> <%= "#{dew_min - 1}-#{dew_max + 1}" %></td>
            <td><%= "#{hum_each}" %></td>
            <td><%= "#{pressure_min%100}-#{pressure_max%100}" %></td>
            <td></td>
            <td class="blue"></td>
            <td><%= result[:total_avg_1] %></td>
            <td><%= result[:total_avg_2] %></td>
            <td><%= result[:total_hits_avg] %></td>
            <td><%= result[:home_runs_avg] %></td>
            <td><%= result[:total_count] %></td>
            <td class="blue"></td>
            <td><%= result[:lower_one] %></td>
            <td><%= result[:lower_one_count] %></td>
            <td class="blue"></td>
            <td><%= result[:home_total_runs1_avg] %></td>
            <td><%= result[:home_total_runs2_avg] %></td>
            <td><%= result[:home_count] %></td>
            <td><%= result[:home_one] %></td>
            <td><%= result[:home_one_count] %></td>
          </tr>
        <% end %>

        <tr bgcolor="#DC143C">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr bgcolor="#6495ED">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr bgcolor="#DC143C">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td class="blue"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>