<% if weathers[3] != nil %>
<table class="table-bordered wind">
  <caption>
    <%= caption %>
    <% if caption === 'Forecast Wind' %>
      <button class="btn-primary addWind">+</button>
      <button class="btn-danger subWind">-</button>
      <input type="number" id="additional">
    <% end %>
  </caption>
  <thead>
  	<tr bgcolor="gray">
  	  <th>Wind</th>
      <th width="50">TOTAL RUNS1</th>
      <th width="50">TOTAL RUNS2</th>
      <th width="50">TOTAL COUNT</th>
      <th width="50">TOTAL HITS</th>
      <th width="50">HR'S</th>
      <th width="50">Total Lines Average</th>
      <th width="60">TOTAL t-HITS</th>
      <th width="50">TOTAL t-HRS</th>
  	</tr>
  </thead>
  <tbody>
    <%
      winds = wind_data(name, weathers[0].wind, weathers[1].wind, weathers[2].wind, additional)
      one_array = winds[3..-1].sort {|x, y| y[1] <=> x[1]}
      one_value = one_array[6][1]
      one_value_dup = one_array[2][1]
      two_array = winds[3..-1].sort {|x, y| y[2] <=> x[2]}
      two_value = two_array[6][2]
      two_value_dup = two_array[2][2]
      four_array = winds[3..-1].sort {|x, y| y[4] <=> x[4]}
      four_value = four_array[6][4]
      four_value_dup = four_array[2][4]
      five_array = winds[3..-1].sort {|x, y| y[5] <=> x[5]}
      five_value = five_array[6][5]
      five_value_dup = five_array[2][5]
      eight_array = winds[3..-1].sort {|x, y| y[8] <=> x[8]}
      eight_value = eight_array[6][8]
      eight_value_dup = eight_array[2][8]
      nine_array = winds[3..-1].sort {|x, y| y[9] <=> x[9]}
      nine_value = nine_array[6][9]
      nine_value_dup = nine_array[2][9]
      first_index = winds[3..-1].index {|x| x[6].to_i == 0 || x[6].to_i == 1 }
      last_index = winds[3..-1].rindex {|x| x[6].to_i == 0 || x[6].to_i == 1 }
      if first_index == 0 && last_index == 15
        first_index = winds[3..-1].rindex {|x| x[6].to_i == 2 } + 1
      end
      if first_index < 7
        new_winds = winds[0..2] + winds[(first_index-8)..-1] + winds[3..(first_index-8)]
      else
        new_winds = winds[0..2] + winds[(first_index-)..-1] + winds[3..(first_index-7)]
      end
    %>
    <% new_winds.each_with_index do |wind, index| %>
      <% if wind[6].to_i == 1 %>
      <tr bgcolor="#DC143C">
      <% elsif wind[6].to_i == 0 %>
      <tr>
      <% else %>
      <tr class="blue">
      <% end %>
      <%
        one_style = ""
        two_style = ""
        four_style = ""
        five_style = ""
        eight_style = "background: cyan"
        nine_style = "background: cyan"

        one_style = "background: #35a" if wind[1] >= one_value && index >= 3
        two_style = "background: #35a" if wind[2] >= two_value && index >= 3
        four_style = "background: #35a" if wind[4] >= four_value && index >= 3
        five_style = "background: #35a" if wind[5] >= five_value && index >= 3
        eight_style = "background: #35a" if wind[8] >= eight_value && index >= 3
        nine_style = "background: #35a" if wind[9] >= nine_value && index >= 3

        one_style = "background: royalblue" if wind[1] >= one_value_dup && index >= 3
        two_style = "background: royalblue" if wind[2] >= two_value_dup && index >= 3
        four_style = "background: royalblue" if wind[4] >= four_value_dup && index >= 3
        five_style = "background: royalblue" if wind[5] >= five_value_dup && index >= 3
        eight_style = "background: royalblue" if wind[8] >= eight_value_dup && index >= 3
        nine_style = "background: royalblue" if wind[9] >= nine_value_dup && index >= 3
      %>
        <td> <%= wind[0] %> </td>
        <td style="<%= one_style %>"> <%= wind[1] %> </td>
        <td style="<%= two_style %>"> <%= wind[2] %> </td>
        <td> <%= wind[3] %> </td>
        <td style="<%= four_style %>"> <%= wind[4] %> </td>
        <td style="<%= five_style %>"> <%= wind[5] %> </td>
        <td> <%= wind[7] %> </td>
        <td style="<%= eight_style %>"> <%= wind[8] %> </td>
        <td style="<%= nine_style %>"> <%= wind[9] %> </td>
      </tr>
      <% if index == 2 %>
        <tr>
          <td colspan="9"></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $(".addWind").click(function(){
      var a = window.location.href.split("/");
      var value = parseInt($("#additional")[0].value);
      a[7] = parseInt(a[7]) + value;
      window.location.href = a.join("/")
    });
    $(".subWind").click(function(){
      var a = window.location.href.split("/");
        var value = parseInt($("#additional")[0].value);
      a[7] = parseInt(a[7]) - value;
      window.location.href = a.join("/")
    });
  });
</script>
<% end %>