<% if weathers[3] != nil %>
<table class="table-bordered wind">
  <caption>
    <%= caption %>
    <% if caption === 'Forecast Wind' %>
      <button class="btn-primary addWind">+</button>
      <button class="btn-danger subWind">-</button>
      <input type="number" id="additional">
    <% end %>
  </caption>
  <thead>
  	<tr bgcolor="gray">
  	  <th>Wind</th>
      <th>TOTAL RUNS1</th>
      <th>TOTAL RUNS2</th>
      <th>TOTAL COUNT</th>
      <th>TOTAL HITS</th>
      <th>HR'S</th>
      <th>Total Lines Average</th>
  	</tr>
  </thead>
  <tbody>
    <% winds = wind_data(name, weathers[0].wind, weathers[1].wind, weathers[2].wind, additional) %>
    <% winds.each do |wind| %>
      <% if wind[6].to_i == 1 %>
      <tr bgcolor="#DC143C">
      <% elsif wind[6].to_i == 0 %>
      <tr>
      <% else %>
      <tr class="blue">
      <% end %>
        <td> <%= wind[0] %> </td>
        <td> <%= wind[1] %> </td>
        <td> <%= wind[2] %> </td>
        <td> <%= wind[3] %> </td>
        <td> <%= wind[4] %> </td>
        <td> <%= wind[5] %> </td>
        <td> <%= wind[7] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $(".addWind").click(function(){
      var a = window.location.href.split("/");
      var value = parseInt($("#additional")[0].value);
      a[7] = parseInt(a[7]) + value;
      window.location.href = a.join("/")
    });
    $(".subWind").click(function(){
      var a = window.location.href.split("/");
        var value = parseInt($("#additional")[0].value);
      a[7] = parseInt(a[7]) - value;
      window.location.href = a.join("/")
    });
  });
</script>
<% end %>