<% content_for :title, @team.stadium %>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
</ul>
<% wind_dirs = %w(North NNW NW WNW West WSW SW SSW South SSE SE ESE East ENE NE NNE) %>
<table class="table-bordered">
  <tr>
    <td></td>
    <td colspan="49"><%= @team.stadium %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <% (1..25).each do |wind| %>
      <td colspan="2"><%= "#{wind}#{wind === 25 ? '+' : ''}" %> mph</td>
    <% end %>
  </tr>
  <tr>
    <td></td>
    <% (1..25).each do |wind| %>
      <td>gms</td>
      <td>runs</td>
    <% end %>
  </tr>
  <% wind_dirs.each do |wind_dir|
    stadium_list = StadiumDatum.where("team_id = ? AND wind_dir = ?", @team.id, wind_dir).order('result DESC')
  %>
    <tr>
      <td><%= wind_dir %></td>

      <% (1..25).each do |wind|
        stadium_data = StadiumDatum.find_or_create_by(team_id: @team.id, wind_dir: wind_dir, wind_speed: wind)
        color = ""
        color = "lightblue" if stadium_list[5].result <= stadium_data.result && stadium_data.result != '0.0'
        color = "royalblue" if stadium_list[2].result <= stadium_data.result && stadium_data.result != '0.0'

      %>
        <td bgcolor="<%= color %>"><%= stadium_data.count %></td>
        <td bgcolor="<%= color %>"><%= stadium_data.result %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<ul class="list-group">
  <li class="list-group-item" style="text-align: center;"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
</ul>