<table class="table-bordered wind">
  <caption>
    <%= caption %>
  </caption>
  <thead>
  	<tr bgcolor="gray">
  	  <th>Wind</th>
      <th width="50">TOTAL RUNS1</th>
      <th width="50">TOTAL RUNS2</th>
      <th width="50">TOTAL COUNT</th>
      <th width="50">TOTAL HITS</th>
      <th width="50">HR'S</th>
      <th width="50">Total Lines Average</th>
  	</tr>
  </thead>
  <tbody>
    <% winds = wind_data_prev(name, weathers[0].wind, weathers[1].wind, weathers[2].wind) %>
    <% winds.each do |wind| %>
      <% if wind[6].to_i == 1 %>
      <tr bgcolor="#DC143C">
      <% elsif wind[6].to_i == 0 %>
      <tr>
      <% else %>
      <tr class="blue">
      <% end %>
        <td> <%= wind[0] %> </td>
        <td> <%= wind[1] %> </td>
        <td> <%= wind[2] %> </td>
        <td> <%= wind[3] %> </td>
        <td> <%= wind[4] %> </td>
        <td> <%= wind[5] %> </td>
        <td> <%= wind[7] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>